.btn-blue {
    background-color: #002E5B !important;
    color: #FFFFFF !important;
}

.donut-text {
    z-index: 20;
    text-align: center;
    line-break: auto;
}

.card-title-blue {
    color: #003262;
    font-size: 22px !important; 
    font-weight: 600;
    margin-top: 2px;
    text-decoration: dotted !important;
    text-shadow: 2px 2px 8px #91BBE6;
}

.light-blue-card {
    background-color: #EDF2FC !important;
    padding-bottom: 0px;
}

.progress-text {
    font-size: 14px; 
    line-height: 0.1;
    text-align: center;
}

.year-header {
    background-color: #7E98C8 !important;
    color: #FFFFFF;
    font-weight: 500;
}

button.clickable {
    background: none;
    border: none; 
    font-size: 12px;
    text-decoration: underline;
}

button.invisible {
    background: none;
    border: none; 
}

.letter-grade {
    font-weight: 500;
    display: none;
    /* font-size: 12px; */
}

.pb-gradient {
    background: linear-gradient(to right, #EFEADF, #EFBA60) !important;
    opacity: 1;
}

.linked-resources {
    text-decoration: underline;
    color: #0E6AA3 !important;
    font-size: 18px;
}

.linked-color {
    text-decoration: underline;
    color: #0E6AA3 !important;
}

.name {
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
}

.name-card {
    line-height: 1.2;
}

.bg {
    display: inline-block;
    border-radius: 8px;
    background-color: transparent;
    vertical-align: middle;
    border: solid;
    border-width: 1px;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
    /* margin-left: 1px;
    margin-right: 2px; */
    margin-top: auto;
    margin-bottom: auto;
}

.bg-solution {
    border-color: #55AF41;
    color: #55AF41; 
}

.bg-assignment {
    border-color: #006DDF;
    color: #006DDF; 
}

.bg-slides {
    border-color: #FC8800;
    color: #FC8800; 
}

.bg-welcome {
    border-color: #539BA3;
    color: #539BA3; 
}

.week-title {
    display: inline-block;
    font-size: 21px;
    color: #003262;
    font-weight: 600 !important;
    text-align: left;
    line-height: 0;
}

.weekly {
    font-size: 17px; 
}

.h-center {
    display: flex;
  justify-content: center;
  align-items:flex-start;
}

.body {
    width: 100%;
}

.flex-c8 {
    min-width: 500px !important;
}

.flex-c4 {
    min-width: 350px !important;
}

.code-seg {
    /* font-size: 28px; */
    font: 26px "Roboto Mono", monospace !important;
    background-color: #002E5B !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 1.5px !important;
    padding-bottom: 1.5px !important;
    /* font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif !important; */
}

ul.spaced>li {
    margin-top: 4px;
    margin-bottom: 4px;
}

ol.spaced>li {
    margin-top: 8px;
    margin-bottom: 8px;
}
