.btn-blue {
    background-color: #002E5B !important;
    color: #FFFFFF !important;
}

.donut-text {
    z-index: 20;
    text-align: center;
    line-break: auto;
}

.card-title-blue {
    color: #003262;
    font-size: 22px !important; 
    font-weight: 600;
    margin-top: 2px;
}

.light-blue-card {
    background-color: #EDF2FC !important;
    padding-bottom: 0px;
}

.progress-text {
    font-size: 14px; 
    line-height: 0.1;
    text-align: center;
}

.year-header {
    background-color: #7E98C8 !important;
    color: #FFFFFF;
    font-weight: 500;
}

button.clickable {
    background: none;
    border: none; 
    font-size: 12px;
    text-decoration: underline;
}

button.invisible {
    background: none;
    border: none; 
}

.letter-grade {
    font-weight: 500;
    display: none;
    /* font-size: 12px; */
}

.pb-gradient {
    background: linear-gradient(to right, #EFEADF, #EFBA60) !important;
    opacity: 1;
}

.linked-resources {
    text-decoration: underline;
    color: #0E6AA3 !important;
    font-size: 18px;
}

.name {
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
}

.name-card {
    line-height: 1.2;
}

.solution-badge {
    border-radius: 10;
    background-color: transparent !important;
    color: #002E5B !important; 
    /* border-width: 3px !important;
    border-color: #1A8754 !important;
    color: #002E5B !important; 
    font-size: 12px; */
}